{% extends 'student/studentbase.html' %}
{% block content %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 20px;
    }
  </style>
</head>
<br><br><br><br><br>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">View Marks</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>

          <th>Exam Name</th>
          
          <th>Total Marks</th>
          <th>Attempt</th>
          <th>Exam Date</th>
          <th>Rank</th>
        </tr>
      </thead>
      {% for t in results %}
      <tr>
        <td> {{t.exam}}</td>
        <td> {{t.marks}}</td>
        <td>Attemp {{ forloop.counter }}</td>
        <td> {{t.date}}</td>
        <td>
          {% if t.marks == 20 %}
            Platinum
          {% elif t.marks == 19 %}
            Platinum
          {% elif t.marks == 18 %}
            Diamond
          {% elif t.marks == 17 %}
            Diamond
          {% elif t.marks == 16 %}
            Diamond
          {% elif t.marks == 15 %}
            Gold
          {% elif t.marks == 14 %}
            Gold
          {% elif t.marks == 13 %}
            Gold
          {% elif t.marks == 12 %}
            Gold
          {% elif t.marks == 11 %}
            Gold
          {% elif t.marks == 10 %}
            Silver
          {% elif t.marks == 9 %}
            Silver
          {% elif t.marks == 8 %}
            Silver
          {% elif t.marks == 7 %}
            Silver
          {% elif t.marks == 6 %}
            Silver
          {% else %}
            Bronze
        {% endif %}</td>
        <td> {{t.rank}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}