<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }
    #bg{
    height: 30%;
    width: 100%;
    background-image: url('{% static "image/learn.jpg" %}');
  }

  </style>

</head>

<body>

  {% include "quiz/navbar.html" %}
  <br><br>
  <div style="margin-bottom:0px;" id="bg">
    <h1 class="display-4 text-info" style="padding-top: 150px; text-align: center;">Hello, Student</h1>
    <p class="lead">Welcome to MindStorm</p>
    <hr class="my-4">
    <p>You can access various features after Login.</p>
    <p class="lead">
      <a class="btn btn-primary btn-info" href="studentsignup" role="button">Create Your Account</a>
      <a class="btn btn-primary btn-info" href="studentlogin" role="button">Login</a><br><br><br>
    </p>
    <hr class="my-4"><br><br><br><br>
  </div>
 
  {% include "quiz/footer.html" %}
</body>

</html>
