<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
  #bg{
  height: 30%;
    width: 100%;
    background-image: url('{% static "image/learn.jpg" %}');
  }
</style>

<body>
  {% include "quiz/navbar.html" %}
  <br><br>
<section id="bg">
  <div class="container text-center">
    <h1 class="display-1 text-info" style="padding-top: 50px;">MindStorm</h1>
    <p class="display-4 d-none d-sm-block">Test your skills and become a master.</p>
    <p class="lead">We organize quizzes on various Programming Subjects.</p>
    <ul style="text-align: left; padding-left: 430px; font-weight:bold;"><li>Programming Fundamentals</li> <li>Object Oriented Programming</li><li>Data Structures</li><li>Analysis Of Algorithms</li></ul>
    <p class="lead">Sign up if you didn't and get access to quizzes on the topic of your interest and compete with your friends.</p>
    <p><strong> Start your journey by signing up Here:</strong></p><br>
    <a href="/student/studentsignup" class="btn btn-lg btn-info" style:"padding-right:15px">Sign Up</a><br><br>
  </div>  
</section>
{% include "quiz/footer.html" %}
</body>
</html>